.F-popup_cart-list

    .F-popup_cart-list__item
        .F-popup_cart-list__item-pic(style='background-image: url("pic/catalog/item-2-default.jpg")')

        .F-popup_cart-list__item-descr
            .F-popup_cart-list__item-name DENIM JUMPSUIT
            .F-popup_cart-list__item-descr-row
                .F-popup_cart-list__item-descr-title Размер:
                .F-popup_cart-list__item-descr-val 10
            .F-popup_cart-list__item-descr-row
                .F-popup_cart-list__item-descr-title Количество:
                .F-popup_cart-list__item-descr-val 1
            .F-popup_cart-list__item-descr-row
                .F-popup_cart-list__item-descr-title Цена:
                .F-popup_cart-list__item-descr-val 210.00 грн
    .F-popup_cart-list__item
        .F-popup_cart-list__item-pic(style='background-image: url("pic/catalog/item-2-default.jpg")')
        .F-popup_cart-list__item-descr
            .F-popup_cart-list__item-name DENIM JUMPSUIT
            .F-popup_cart-list__item-descr-row
                .F-popup_cart-list__item-descr-title Размер:
                .F-popup_cart-list__item-descr-val 10
            .F-popup_cart-list__item-descr-row
                .F-popup_cart-list__item-descr-title Количество:
                .F-popup_cart-list__item-descr-val 1
            .F-popup_cart-list__item-descr-row
                .F-popup_cart-list__item-descr-title Цена:
                .F-popup_cart-list__item-descr-val 210.00 грн

.F-popup_cart__total ВСЕГО 2500.00 грн