.catalog__filters-section-title КАТЕГОРИИ
.catalog__filters-section-body
    .custom-checkbox
        input(id="filters-0-1" name="filters-0-1" type="checkbox" checked="checked")
        label(for="filters-0-1") Сумки (1)
    .custom-checkbox
        input(id="filters-0-2" name="filters-0-2" type="checkbox")
        label(for="filters-0-2") Браслеты (23)
    .custom-checkbox
        input(id="filters-0-3" name="filters-0-3" type="checkbox")
        label(for="filters-0-3") Блузки (12)