.catalog__filters-section-title ЦВЕТ
.catalog__filters-section-body
    .custom-checkbox
        input(id="filters-1-1" name="filters-1-1" type="checkbox")
        label(for="filters-1-1") Черный (1)
    .custom-checkbox
        input(id="filters-1-2" name="filters-1-2" type="checkbox")
        label(for="filters-1-2") Красный (23)
    .custom-checkbox
        input(id="filters-1-3" name="filters-1-3" type="checkbox")
        label(for="filters-1-3") Синий (12)
    .custom-checkbox
        input(id="filters-1-4" name="filters-1-4" type="checkbox")
        label(for="filters-1-4") Зеленый (12)
